/* -------------------------------- 

File#: _1_main-header
Title: Main Header
Descr: Accessible website navigation
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1rem;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
  }
  
  h1 {
    font-size: 2.0736rem;
  }
  
  h2 {
    font-size: 1.728rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  ol, ul, menu {
    list-style: none;
  }
  
  button, input, textarea, select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }
  
  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }
  
  a {
    color: hsl(113, 100%, 46%);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img, video, svg {
    display: block;
    max-width: 100%;
  }
  
  @media (min-width: 64rem) {
    body {
      font-size: 1.25rem;
    }
  
    h1 {
      font-size: 3.051rem;
    }
  
      h2 {
      font-size: 2.44rem;
    }
  
      h3 {
      font-size: 1.75rem;
    }
  
      h4 {
      font-size: 1.5625rem;
    }
  }
  
  /* variables */
  :root {
    /* colors */
    --mf1-color-primary-hsl: 250, 84%, 54%;
    --mf1-color-bg-hsl: 0, 0%, 100%;
    --mf1-color-contrast-high-hsl: 230, 7%, 23%;
    --mf1-color-contrast-higher-hsl: 230, 13%, 9%;
    --mf1-color-contrast-lower-hsl: 240, 4%, 85%;
    --mf1-color-contrast-medium-hsl: 225, 4%, 47%;
    --mf1-color-bg-dark-hsl: 240, 4%, 95%;
    --mf1-color-white-hsl: 0, 0%, 100%;
    --mf1-color-primary-darker-hsl: 250, 84%, 38%;
    --mf1-color-primary-light-hsl: 250, 84%, 60%;
    --mf1-color-bg-lighter-hsl: 0, 0%, 100%;
    --mf1-color-black-hsl: 230, 13%, 9%;
    --mf1-color-bg-light-hsl: 0, 0%, 100%;
  
    /* spacing */
    --mf1-space-2xs: 0.375rem;
    --mf1-space-sm: 0.75rem;
    --mf1-space-md: 1.25rem;
  
    /* typography */
    --mf1-text-lg: 1.25rem;
    --mf1-text-sm: 0.833rem;
  }
  
  @media(min-width: 64rem){
    :root {
      /* spacing */
      --mf1-space-2xs: 0.5625rem;
      --mf1-space-sm: 1.125rem;
      --mf1-space-md: 2rem;
  
      /* typography */
      --mf1-text-lg: 1.75rem;
      --mf1-text-sm: 1rem;
    }
  }
  
  /* buttons */
  .mf1-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    white-space: nowrap;
    text-decoration: none;
    background: hsl(var(--mf1-color-bg-dark-hsl));
    color: hsl(var(--mf1-color-contrast-higher-hsl));
    cursor: pointer;
    text-decoration: none;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease;
    will-change: transform;
    padding: var(--mf1-space-2xs) var(--mf1-space-sm);
    border-radius: 0.25em;
  }
  
  .mf1-btn:focus-visible {
    box-shadow: 0px 0px 0px 2px hsl(var(--mf1-color-bg-hsl)), 0px 0px 0px 4px hsla(var(--mf1-color-contrast-higher-hsl), 0.15);
    outline: none;
  }
  
  .mf1-btn:active {
    transform: translateY(2px);
  }
  
  .mf1-btn--primary {
    background: seagreen;
    color: hsl(var(--mf1-color-white-hsl));
    box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.15), 0px 1px 3px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 2px 6px hsla(var(--mf1-color-primary-darker-hsl), 0.1), 0px 6px 10px -2px hsla(var(--mf1-color-white-hsl), 0.25);
  }
  
  .mf1-btn--primary:hover {
    background: hsl(var(--mf1-color-primary-light-hsl));
    box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--mf1-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--mf1-color-primary-darker-hsl), 0.25);
  }
  
  .mf1-btn--primary:focus {
    box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--mf1-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--mf1-color-primary-darker-hsl), 0.25), 0px 0px 0px 2px hsl(var(--mf1-color-bg-hsl)), 0px 0px 0px 4px seagreen;
  }
  
  .mf1-btn--subtle {
    background: hsl(var(--mf1-color-bg-lighter-hsl));
    color: hsl(var(--mf1-color-contrast-higher-hsl));
    box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--mf1-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--mf1-color-black-hsl), 0.2), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mf1-btn--subtle:hover {
    background: hsl(var(--mf1-color-bg-light-hsl));
    box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--mf1-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--mf1-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12);
  }
  
  .mf1-btn--subtle:focus {
    box-shadow: inset 0px 1px 0px hsla(var(--mf1-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--mf1-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--mf1-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0px 0px 0px 2px hsl(var(--mf1-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--mf1-color-contrast-high-hsl));
  }
  
  /* component */
  :root {
    --header-height: 50px;
  }
  @media (min-width: 64rem) {
    :root {
      --header-height: 70px;
    }
  }
  
  .header {
    height: var(--header-height);
    width: 100%;
    background-color: hsl(var(--mf1-color-bg-hsl));
    z-index: 3;
  }
  
  .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
  }
  .header__logo a, .header__logo svg, .header__logo img {
    display: block;
  }
  
  .header__nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: hsl(var(--mf1-color-bg-hsl));
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
    overflow: auto;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    display: none;
  }
  .header__nav::before {
    content: "";
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: var(--header-height);
    background: inherit;
    border-bottom: 1px solid hsl(var(--mf1-color-contrast-lower-hsl));
  }
  
  .header__nav--is-visible {
    display: block;
  }
  
  .header__nav-inner {
    padding: var(--mf1-space-md);
  }
  
  .header__label {
    font-size: var(--mf1-text-sm);
    color: hsl(var(--mf1-color-contrast-medium-hsl));
    margin-bottom: var(--mf1-space-sm);
  }
  
  .header__item {
    margin-bottom: var(--mf1-space-sm);
  }
  
  .header__link {
    font-size: var(--mf1-text-lg);
    color: hsl(var(--mf1-color-contrast-higher-hsl));
    text-decoration: none;
  }
  .header__link:hover, .header__link[aria-current] {
    color: green;
  }
  
  .header__nav-btn {
    font-size: var(--mf1-text-lg);
    width: 100%;
  }
  
  .header__item--divider {
    height: 1px;
    width: 100%;
    background-color: hsl(var(--mf1-color-contrast-lower-hsl));
  }
  
  .header__trigger {
    position: relative;
    z-index: 2;
  }
  
  .header__trigger-icon {
    position: relative;
    display: block;
    height: 2px;
    width: 1em;
    background-color: currentColor;
    margin-right: var(--mf1-space-2xs);
    transition: 0.2s;
  }
  .header__trigger-icon::before, .header__trigger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: 0.2s;
  }
  .header__trigger-icon::before {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .header__trigger-icon::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  
  .header__trigger[aria-expanded=true] .header__trigger-icon {
    background-color: transparent;
  }
  .header__trigger[aria-expanded=true] .header__trigger-icon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__trigger[aria-expanded=true] .header__trigger-icon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  @media (min-width: 64rem) {
    .header__nav {
      position: static;
      background-color: transparent;
      width: auto;
      max-height: none;
      box-shadow: none;
      overflow: visible;
      -ms-scroll-chaining: chained;
          overscroll-behavior: auto;
      display: block;
    }
    .header__nav::before {
      display: none;
    }
  
    .header__nav-inner {
      padding: 0;
    }
  
    .header__label {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      -webkit-clip-path: inset(50%);
              clip-path: inset(50%);
    }
  
    .header__list {
      display: flex;
      align-items: center;
    }
  
    .header__item {
      display: inline-block;
      margin-bottom: 0;
      margin-left: var(--mf1-space-md);
    }
  
    .header__link, .header__nav-btn {
      font-size: 1.125rem;
    }
  
    .header__item--divider {
      height: 1em;
      width: 1px;
    }
  
    .header__trigger {
      display: none;
    }


  }
  
  /* utility classes */
  .mf1-max-width-lg {
    max-width: 80rem;
  }
  
  .mf1-container {
    width: calc(100% - 2*var(--mf1-space-md));
    margin-left: auto;
    margin-right: auto;
  }
  
  .mf1-position-relative {
    position: relative;
  }

  .dp 
  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .name{
    font-family: 'Protest Riot', sans-serif;;

  }


  @media only screen and (max-width: 768px) {
    .dp 
    {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

/* codepad */
  .code-editor {
    max-width: 80%;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  
  .title-css {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
  }
  
  .icon {
    width: 20px;
    transition: .2s ease;
  }
  
  .icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
  }
  
  .editor-content {
    margin: 0 10px 10px;
    color: white;
  }
  
  .property {
    margin-left: 30px;
  }
  
  .property:hover {
    cursor: text;
  }
  
  .editor-content .color-0 {
    color: rgb(86 156 214);
  }
  
  .editor-content .color-1 {
    color: rgb(182 206 168);
  }
  
  .editor-content .color-2 {
    color: rgb(156 220 254);
  }
  
  .editor-content .color-3 {
    color: rgb(207 146 120);
  }
  
  .color-preview-1,.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
  }
  
  .color-preview-1 {
    background-color: #1d1e22;
  }
  
  .color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
  }